/*------------------------
CONTENT
01 - Imports
02 - Vars
03 - General
04 - Responsive
------------------------*/


/*-------------------------
01- Imports
-------------------------*/


// Settings / Defaults
@import 'vendor/normalize';
@import 'settings/settings';
@import 'settings/mixins';
@import 'settings/helpers';
@import 'settings/typography';
@import 'settings/global';

// Components
@import 'components/grid';
@import 'components/header';

// Pages
@import 'pages/home';

/*-------------------------
02 - Vars
-------------------------*/

//colours
$text_col: #222222;
$main_blue: #1999a4;
$main_blue_rgb: rgba(25, 153, 164, 1);
$main_blue_rgb_trans: rgba(25, 153, 164, 0.8);
$light_blue_rgb: rgba(61, 204, 199, 1);
$light_blue_rgb_trans: rgba(61, 204, 199, 0.8);
$pale_blue: #d8f5f4;

//easting
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

//standards
$max_std: 1210px;


/*-------------------------
03 - General
-------------------------*/

h1 {
    font-weight: 200;
    font-size: 54px;
}

h2 {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 200;
    
    strong,
    b {
        font-weight: bold;
    }
}

h3 {
    font-weight: 900;
    text-transform: uppercase;
}

p {
    font-size: 17px;
    color: $text_col;
    line-height: 22px;
    
    a {
        text-decoration: underline;
        color: $main_blue;
    }
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

nav.open {
    .mob-btn {
        .tp {
            transform: translate(0px, 12px) rotate(45deg);
        }
        
        .md {
            transform: scale(0);
        }
        
        .bt {
            transform: translate(0px, -12px) rotate(-45deg);
        }
    }
}

nav {
    position: absolute;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: none;
    z-index: 900;
    box-sizing: border-box;
    
    .mob-btn {
        position: absolute;
        width: 30px;
        height: 28px;
        top: 20px;
        right: 20px;
        cursor: pointer;
        display: none;
        
        span {
            display: block;
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            background-color: $main_blue;
            left: 0px;
            
            transition: transform 0.4s $easeInOutQuint;
        }
        
        .tp {
            top: 0px;
        }
        
        .md {
            top: 12px;
        }
        
        .bt {
            top: 24px;
        }
    }
    
    .section-inner {
        padding: 0px 0px;
        background-color: #fff;
    }
    
    .logo {
        float: left;
        box-sizing: border-box;
        padding: 12px 0px 12px 20px;
    }
    
    ul.nav {
        float: right;
        list-style: none;
        margin: 0px;
        padding: 32px 0px 0px 0px;

        li {
            display: inline-block;
            margin: 0px 10px;
            
            a {
                position: relative;
                font-family: $main-font;
                display: inline-block;
                text-transform: uppercase;
                color: $text_col;
                font-size: 16px;
                text-decoration: none;
                font-weight: 400;
                
                i {
                    color: $main_blue;
                }
            }
            
            a:after {
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                background-color: $main_blue;
                left: 0px;
                bottom: -3px;
                
                transition: width 0.3s $easeInOutQuart;
            }
            
            a:hover:after {
                width: 100%;
            }
        }
    }
}

nav:before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50%;
    height: 100%;
    background-color: #fff;
}

section {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    ul.inline {
        list-style: none;
        margin: 0px;
        padding: 0px;
        
        li {
            display: inline-block;
            margin: 0px 14px 0px 0px;
            
            a {
                color: $main_blue;
                font-size: 14px;
                text-decoration: underline;
                padding-right: 14px;
                border-right: solid 1px $main_blue;
            }
        }
        
        li:last-child {
            a {
                border-right: none;
            }
        }
    }
}

section.blue {
    background-color: $main_blue;
    border-bottom: solid 12px;
}

.section-inner {
    position: relative;
    width: 90%;
    max-width: $max_std;
    box-sizing: border-box;
    margin: 0px auto;
    padding: 30px 0px;
}


section.wwd {
    .col-6 {
        p {
            padding-right: 20px;
        }
    }
}

header.banner {
    position: relative;
    width: 100%;
    background-color: $text_col;
    height: 530px;
    border-bottom: solid 13px $main_blue;
    
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        top: 0px;
        left: 0px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    
    .section-inner {
        position: relative;
        height: 100%;
        display: table;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        
        .content {
            position: relative;
            display: table-cell;
            height: 100%;
            width: 100%;
            vertical-align: middle;
            
            h1 {
                display: inline-block;
                margin: 0;
                width: 100%;
                color: #fff;
                font-weight: 600;
                font-size: 38px;
            }   
            
            .cta {
                position: absolute;
                width: 100%;
                left: 0px;
                bottom: 3px;
                margin: 0px;
                padding: 0%;
                
                ul {
                    position: absolute;
                    bottom: 0px;
                    right: 45px;
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    
                    li {
                        display: inline-block;
                        
                        a {
                            background-color: $main_blue_rgb_trans;
                            color: #fff;
                            font-size: 23px;
                            text-transform: uppercase;
                            font-weight: bold;
                            box-sizing: border-box;
                            padding: 30px 20px;
                            
                            transition: background-color 0.2s ease-in-out;
                            
                            i {
                                padding: 0px 20px 0px 10px;
                                font-size: 30px;
                                transform: translate(0px, 3px);
                                
                                transition: transform 0.3s $easeInOutBack;
                            }
                        }
                        
                        a:hover {
                            background-color: $main_blue_rgb;
                            
                            i {
                                transform: translate(5px, 3px);
                            }
                        }
                    }
                    
                    li:nth-child(odd) {
                        a {
                            background-color: $light_blue_rgb_trans;
                        }
                        
                        a:hover {
                            background-color: $light_blue_rgb;
                        }
                    }
                }
            }
        }
    }
}


.twitter-slider {
	height: 240px;
	position: relative;
	width: 100%;
	overflow: hidden;
    box-sizing: border-box;
    margin-top: 30px;
    padding: 0px 40px;

	.main-banner {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
        
        .owl-stage-outer {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
		
		.owl-item {
			position: relative;
			display: inline-block;
			top: 0px;
			margin: 0px;
			padding: 0px;
			box-sizing: border-box;
		}
		
		.owl-dots {
			position: absolute;
			width: 100%;
			bottom: 5vw;
			text-align: center;
		}
		
		.owl-dot {
			display: inline-block;
			width: 10px;
			height: 10px;
			border-radius: 20px;
			background: rgba(217, 217, 217, 1);
			margin: 0px 10px;
			cursor: pointer;
			
			transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		}
		
		.owl-dot:hover {
			background: $light_blue_rgb_trans;
		}
		
		.owl-dot.active {
			background: $light_blue_rgb;
			border-color: $main_blue;
		}
        
        .owl-nav.disabled {
            display: none;
        }
		
		.slide {
			position: relative;
			width: 100%;
			height: 100%;
            box-sizing: border-box;
            padding: 40px;
            
            .icon {
                position: absolute;
                margin-top: 20px;
                
                i {
                    font-size: 50px;
                    color: $light_blue_rgb;
                }
            }
            
            p {
                padding: 0px 0px 0px 80px;
                text-align: center;
                font-weight: 600;
                font-size: 19px;
                line-height: 28px;
            }
		}
		
	}
	
}

.logo-list {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
    img {
        display: inline-block;
        margin: 0px 105px 0px 0px;
    }
    
    img:last-child {
        margin-right: 0px;
    }
}


section.contact {
    position: relative;
    padding-bottom: 100px;
    
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        overflow: hidden;
    }
    
    .section-inner {
        padding: 60px 0px;
    }
    
    .col-6.content {
        box-sizing: border-box;
        padding: 80px 50px;
    }
}

form.blue {
    position: relative;
    width: 100%;
    background-color: $light_blue_rgb;
    box-sizing: border-box;
    padding: 20px 20px;
    
    h2 {
        color: #fff;
        font-weight: 900;
        font-size: 28px;
    }
    
    input[type="text"],
    textarea {
        box-sizing: border-box;
        width: 100%;
        outline: none;
        border: none;
        background-color: $pale_blue;
        margin: 0px 0px 18px;
        font-family: $main-font;
        color: $text_col;
        padding: 8px 8px;
        
        transition: background-color 0.2s ease-in-out;
    }
    
    input[type="text"]::placeholder,
    textarea::placeholder {
        color: $text_col;
    }
    
    input[type="text"]:focus,
    textarea:focus {
        background-color: #fff;
    }
    
    textarea {
        resize: none;
        height: 110px;
    }
    
    button {
        background-color: $light_blue_rgb;
        outline: none;
        border: none;
        -webkit-appearance: none;
        display: block;
        margin: 25px auto;
        padding: 20px;
        cursor: pointer;
        color: #fff;
        text-transform: uppercase;
        font-family: $main-font;
        font-weight: bold;
        font-size: 24px;
        
        transition: background-color 0.2s ease-in-out, transform 0.2s $easeInOutQuart;
        
        i {
            margin-right: 10px;
            font-weight: normal;
        }
    }
    
    button:hover,
    button:focus {
        background-color: $main_blue;
        transform: scale(0.95);
    }
    
    [class^="col-"] {
        padding: 0px;
    }
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.circle-1 {
    position: absolute;
    width: 442px;
    height: 454px;
    pointer-events: none;
    top: 30px;
    left: -280px;
    background: url(../../img/circle-shape-1.png) 50% 50% no-repeat;
    background-size: contain;
    
    animation-name: spinning;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

.circle-2 {
    position: absolute;
    width: 832px;
    height: 820px;
    pointer-events: none;
    top: 30px;
    right: -580px;
    background: url(../../img/circle-shape-2.png) 50% 50% no-repeat;
    background-size: contain;
    
    animation-name: spinning;
    animation-duration: 26s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;
}


section.whitepapers:before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 252px;
    background: $light_blue_rgb;
}

section.whitepapers {
    text-align: center;
    
    .section-inner {
        padding-bottom: 100px;
    }
    
    h1 {
        margin-top: -140px;
    }
    
    .wp-list {
        position: relative;
        width: 100%;
        margin: 47px 0px 0px 0px;
        padding: 0px;
        box-sizing: border-box;
        text-align: center;
        
        .w-paper {
            cursor: pointer;
            display: inline-block;
            position: relative;
            width: 328px;
            height: 400px;
            background-color: #fff;
            margin: 0px 10px 20px;
            
            .bg {
                display: block;
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 50%;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;
            }
            
            .content {
                display: block;
                position: absolute;
                width: 100%;
                height: 51%;
                box-sizing: border-box;
                left: 0px;
                bottom: 0px;
                margin: 0px;
                padding: 15px 10px;
                background-color: #fff;
                text-align: left;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
                
                transition: height 0.4s $easeInOutQuint;
                
                .title {
                    color: $main_blue;
                    display: block;
                    font-family: $main-font;
                    font-size: 28px;
                    line-height: 38px;
                    font-weight: 200;
                    margin-bottom: 10px;
                }
                
                .text {
                    color: $text_col;
                    display: block;
                    font-family: $main-font;
                    font-size: 16px;
                    font-weight: normal;
                    line-height: 22px;
                }
            }
        }
        
        .w-paper:hover {
            .content {
                height: 60%;
            }
        }
    }
}


/*-------------------------
04 - Responsive
-------------------------*/

@media all and (max-width: 1320px) and (min-width: 0px) {
    
    .twitter-slider .main-banner .owl-dots {
        bottom: 20px;
    }
    
    .logo-list {
        img {
            display: inline-block;
            max-width: 18%;
            margin: 5px 2%;
        }
    }
    
    section.contact {
        .col-6.content {
            padding-top: 4.5vw;
        }
    }
    
}

@media all and (max-width: 1200px) and (min-width: 0px) {
    
    section.whitepapers {
        .wp-list {
            .w-paper {
                width: 31%;
                margin: 0px 1% 20px;
                
                .bg {
                    height: 40%;
                }
                
                .content {
                    height: 60%;
                    
                    .title {
                        font-size: 2.5vw;
                    }
                }
            }
            
            .w-paper:hover {
                .content {
                    height: 70%;
                }
            }
        }
    }
    
}

@media all and (max-width: 1160px) and (min-width: 0px) {
    
    nav {
        .logo {
            padding: 16px 0px 16px 20px;
            img {
                width: 190px;
            }
        }
    }
    
}


@media all and (max-width: 1064px) and (min-width: 0px) {
    
    nav {
        position: fixed;
        height: 65px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        
        transition: height 0.4s ease-in-out;
        
        a.mob-btn {
            display: block;
            z-index: 10;
        }
        
        .logo {
            img {
                width: 132px;
            }
        }
        
        .section-inner {
            width: 100%;
        }
        
        ul.nav {
            clear: both;
            float: none;
            width: 100%;
            
            li {
                display: block;
                width: 100%;
                box-sizing: border-box;
                text-align: center;
                margin: 0px 0px 15px;
                
                a {
                    font-size: 18px;
                }
            }
        }
    }
    
    nav.open {
        height: 100%;
        overflow-y: scroll;
    }
    
    section.wwd {
        .section-inner {
            .col-6 {
                float: none;
                width: 100%;
                margin: 0px;
                padding: 20px 0px;
                box-sizing: border-box;
            }
        }
    }
    
    section.contact {
        .col-6 {
            float: none;
            width: 100%;
            margin: 20px 0px;
            padding: 10px 0px !important;
        }
    }
    
    .circle-1 {
        width: 242px;
        height: 254px;
        left: -130px;
    }
    
    .circle-2 {
        width: 432px;
        height: 420px;
        right: -200px;
        top: auto;
        bottom: 40px;
        opacity: 0.3;
        filter: alpha(opacity=30);
    }    
    
}

@media all and (max-width: 920px) and (min-width: 0px) {
    
    section.whitepapers {
        .wp-list {
            .w-paper {
                width: 80%;
                display: block;
                margin: 0px auto 20px;
                max-width: 388px;
                
                .bg {
                    height: 50%;
                }
                
                .content {
                    height: 50%;
                    padding: 15px;
                    overflow: hidden;
                    
                    .title {
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
            
            .w-paper:hover {
                .content {
                    height: 60%;
                }
            }
        }
    }
    
}

@media all and (max-width: 760px) and (min-width: 0px) {
    
    header.banner {
        .section-inner {
                width: 100%;
            .content h1 {
                padding: 0px 20px;
                font-size: 30px;
            }
            .content .cta {
                bottom: -30px;
                
                ul {
                    display: block;
                    position: relative;
                    width: 100%;
                    margin: 0px auto;
                    padding: 0px;
                    right: auto;
                    
                    li {
                        width: 48%;
                        
                        a {
                            display: block;
                            width: 100%;
                            text-align: center;
                            font-size: 16px !important;
                            padding: 15px;
                            
                            i {
                                margin-left: 5px;
                                font-size: 22px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .logo-list {
        img {
            max-width: 35%;
            margin: 20px 3%;
        }
    }
    
}


@media all and (max-width: 550px) and (min-width: 0px) {
    
    h1 {
        font-size: 30px !important;
    }
    
    h2 {
        font-size: 28px;
    }
    
    .twitter-slider {
        padding: 0px;
        
        .main-banner {
            .slide {
                padding: 20px;
                
                .icon {
                    position: relative;
                    width: 100%;
                    text-align: center;
                    
                    i {
                        font-size: 30px;
                    }
                }
                
                p {
                    padding: 0px;
                    font-size: 16px;
                }
            }
            
            .owl-dots {
                bottom: 0px;
            }
        }
        
    }
    
    form.blue [class^="col-"] {
        float: none;
        width: 100%;
        padding: 0px;
    }
    
}

@media all and (max-width: 400px) and (min-width: 0px) {
    
    h1 {
        font-size: 26px !important;
    }
    
    h2 {
        font-size: 24px;
    }
    
    section ul.inline {
        li {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            
            a {
                border: none !important;
            }
        }
    }
    
    section.whitepapers {
        .wp-list {
            .w-paper {
                .content {
                    height: auto;
                }
            }
        }
    }
    
}
